# USE THIS FILE AS A TEMPLATE TO CREATE YOUR `.env.local` file.

JWT_SECRET="YOUR JWT SECRET"

EMAIL_FROM="example@example.com"
EMAIL_HOST="example.example.com"
EMAIL_PORT="465"
EMAIL_SECURE="true"
EMAIL_API_KEY="YOUR_API_KEY"
EMAIL_SECRET_KEY="YOUR_SECRET_KEY"

# You can copy this value as-is for local development
# If you are trying to run the backend dev server from outside the Docker image, chage `@db` to `@localhost`
DATABASE_URL="mysql://admin:password@db:3306/app_db_prod?poolSize=10"

# If yuou are trying to run the seeding script from outside the Docker image, change `@db` to `@localhost`
SEEDING_DATABASE_URL="mysql://admin:password@db:3306/app_db_prod?poolSize=10"